@import "tailwindcss";

@theme {
  --color-brand-green: #2c3c20;
  --color-brand-darkgreen: #202b17;
  --color-brand-cream: #f6f2ea;

  --font-family-serif: var(--font-cormorant), serif;
  --font-family-cormorant: var(--font-cormorant), serif;
}

body {
  font-family: var(--font-cormorant), serif;
  margin: 0px;
  padding: 0px;
}
