:root {
  --foreground-rgb: 246, 242, 234;
  --background-start-rgb: 145, 0, 116;
}

body {
  background-color: #202b17;
  color: #f6f2ea;
  font-family: var(--font-cormorant), serif;
  padding: 0;
  margin: 0;
}
