:root {
  --foreground-rgb: 246, 242, 234; /* #F6F2EA convertido */
  --background-start-rgb: 145, 0, 116; /* #910074 convertido */
}

body {
  background-color: #910074;
  color: #f6f2ea;
  font-family: var(--font-cormorant), serif;
}
